* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}

main{
    background-color: black;
    height: 100%;
    width: 100%;
}


.view1{
    padding: 70px;
    padding-top: 150px;
    color: white;
}

.view1 span{
    color: #24CFA6;
}